<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Data-Compare</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--样式 -->
    <script type="text/javascript" th:src="@{static/admin/assets/js/jquery.min.js}"></script>
    <!--  <link rel="stylesheet" href="@{static/admin/assets/css/style.css}"> -->
    <link rel="stylesheet" th:href="@{static/admin/assets/css/loader-style.css}">
    <link rel="stylesheet" th:href="@{static/admin/assets/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{static/admin/assets/css/signin.css}">
    <!--icons -->
    <link rel="icon" th:href="@{/static/admin/images/favicon.ico}" type="image/x-icon">
</head>
<body>

<!-- Preloader -->
<div id="preloader">
    <div id="status">
        &nbsp;
    </div>
</div>
<div class="container">
    <div class="" id="login-wrapper">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div id="logo-login">
                    <h1>Data-Quality
                        <span>v1</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="account-box">
                    <form role="form" th:action="@{/login}" method="post" id="loginForm">
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="loginname">账号</label>
                                <input type="text" placeholder="请输入账号" name="username" id="loginname" value="admin"
                                       class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password">密码</label>
                                <input type="password" placeholder="请输入密码" name="password" id="password" value="admin"
                                       class="form-control">
                            </div>
                            <div class="checkbox pull-left">
                                <label>
                                    <input type="checkbox">记住账号</label>
                            </div>
                            <button class="btn btn btn-primary pull-right" type="submit">登录</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  END OF PAPER WRAP --><!-- MAIN EFFECT -->
<script type="text/javascript" th:src="@{static/admin/static/assets/js/preloader.js}"></script>
<script type="text/javascript" th:src="@{static/admin/assets/js/bootstrap.js}"></script>
<script type="text/javascript" th:src="@{static/admin/assets/js/app.js}"></script>
<script type="text/javascript" th:src="@{static/admin/assets/js/load.js}"></script>
<script type="text/javascript">
    $(function () {
        //session获取iframe处理
        if (window != top) {
            top.location.href = location.href;
        }
    });


</script>
</body>
</html>